server/WebApiSenseWord/.vs
server/WebApiSenseWord/WebApiSenseWord/bin
server/WebApiSenseWord/WebApiSenseWord/obj
server/WebApiSenseWord/WebApiSenseWord.Tests/bin
server/WebApiSenseWord/WebApiSenseWord.Tests/obj
server/WebApiSenseWord/Infrastructure.Sql/bin
server/WebApiSenseWord/Infrastructure.Sql/obj
server/WebApiSenseWord/Infrastructure.Entity/bin
server/WebApiSenseWord/Infrastructure.Entity/obj
server/WebApiSenseWord/Infrastructure.Sql.Tests/bin
server/WebApiSenseWord/Infrastructure.Sql.Tests/obj
server/WebApiSenseWord/TestResults
server/WebApiSenseWord/ThirdParties/bin
server/WebApiSenseWord/ThirdParties/obj
server/WebApiSenseWord/ThirdParties.Tests/bin
server/WebApiSenseWord/ThirdParties.Tests/obj
server/WebApiSenseWord/Application.Adapter/bin
server/WebApiSenseWord/Application.Adapter/obj
server/WebApiSenseWord/Application.Adapter.Tests/bin
server/WebApiSenseWord/Application.Adapter.Tests/obj
server/WebApiSenseWord/CustomException/bin
server/WebApiSenseWord/CustomException/obj
server/WebApiSenseWord/CustomCore/bin
server/WebApiSenseWord/CustomCore/obj